body {
	font-family:arial;
	
}

ol {
	color:#333333;
	font-weight:bold;
	font-size:24px;
	margin-bottom:25px;
}

li {
    list-style: none;
    list-style-type: square;
    padding: 5px;
	display: inline-table;
	background:#cccccc;
}